{% extends "base.html" %}

{% block content %}
<h1>{{ object }} <small>{% if repo.public %}public{% else %}private{% endif %}</small></h1>
<a href="{% url "permission-list" pk=object.pk %}">Permissions</a>
{% if user.is_authenticated %}
<p>Clone URL: {% include 'gitcentral/_repo_clone.html' %}</p>
{% endif %}
<h2>Folders</h2>
<ul>
{% for dir in dirs %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=dir.path %}">{{ dir.name }}</a></li>
{% endfor %}
</ul>
<h2>Files</h2>
<ul>
{% for file in files %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=file.path %}">{{ file.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
