{% extends "base.html" %}
{% load gitcentral %}
{% load bootstrap3 %}

{% block page_header %}
    {{ object }} <small>{% if repo.public %}public{% else %}private{% endif %}</small>
    {% if object.parent %}
        <small><p>Fork of <a href="{% url 'repo-detail' username=object.parent.owner.username path=object.parent.path dirfile="" %}">{{ object.parent }}</a></small>
    {% endif %}
{% endblock %}

{% block content %}
{% if can_admin %}
    <a href="{% url "permission-list" pk=object.pk %}">Permissions</a>
{% endif %}
{% if user.is_authenticated %}
<p>Clone URL: {% render_clone_url object %}</p>
{% buttons %}
<label>Current Branch</label><select onchange="window.location = '{% url "repo-detail" username=object.owner.username path=object.path dirfile=dir.path %}?branch='+this.value">
{% for b in repo.branches %}
    <option value="{{ b }}" {% if b.name == branch %}selected{% endif %}>{{ b }}</option>
{% endfor %}
</select>
<button type="submit" class="btn btn-primary" onclick="window.location = '{% url "repo-fork" username=object.owner.username path=object.path %}'">Fork</button>
{% endbuttons %}
{% endif %}
<ol class="breadcrumb">
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile="" %}?branch={{ branch }}">{{ object }}</a></li>
{% for bc in breadcrumbs %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=bc.path %}?branch={{ branch }}">{{ bc.name }}</a></li>
{% endfor %}
</ol>
<h2>Folders</h2>
<ul>
{% for dir in dirs %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=dir.path %}?branch={{ branch }}">{{ dir.name }}</a></li>
{% endfor %}
</ul>
<h2>Files</h2>
<ul>
{% for file in files %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=file.path %}?branch={{ branch }}">{{ file.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
