{% extends "base.html" %}
{% load gitcentral %}

{% block page_header %}{{ object }} <small>{% if repo.public %}public{% else %}private{% endif %}</small>{% endblock %}

{% block content %}
{% if can_admin %}
    <a href="{% url "permission-list" pk=object.pk %}">Permissions</a>
{% endif %}
{% if user.is_authenticated %}
<p>Clone URL: {% render_clone_url object %}</p>
{% endif %}
<ol class="breadcrumb">
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile="" %}">{{ object }}</a></li>
{% for bc in breadcrumbs %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=bc.path %}">{{ bc.name }}</a></li>
{% endfor %}
</ol>
<h2>Folders</h2>
<ul>
{% for dir in dirs %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=dir.path %}">{{ dir.name }}</a></li>
{% endfor %}
</ul>
<h2>Files</h2>
<ul>
{% for file in files %}
    <li><a href="{% url "repo-detail" username=object.owner.username path=object.path dirfile=file.path %}">{{ file.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
